.form-container-register {
  width: 100vw;
  height: 100vh;
  border: 1px solid pink;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-container-register h2 {
  color: white;
}
